@color: #FFFFFF;
@backColor: #000000;
@borderColor: #999999;
@fontFamily: "Lucida Grande", Lucida Sans Unicode, Tahoma, Arial;
@arrows: url(/img/timeline/arrows.png);
@normal: url(/img/timeline/normal.gif);
@today: url(/img/timeline/today.gif);
@bubblePng: url(/img/timeline/bubble.png);
@bubbleGif: url(/img/timeline/bubble.gif);
@hightlightColor: #C1E20D;