<Scripts:>
  <script src="/js/jquery.1.8.2.min.js"></script>
  <script src="/js/timeline.js"></script>
  <script src="/js/calendar/ready.js"></script>

<Body:> 
  <form class="form-horizontal">
    <div id="divCalendar" class="container">   
      <section id="secCalendar">
        <div class="row-fluid">
          <div class="span12">
            <legend>Calendar</legend>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
              <div id="timeline"></div>
          </div>
        </div>
      </section> 
    </div> 
  </form>