<import: src="home">
<import: src="start">
<import: src="swimAdd"> 
<import: src="user"> 
<import: src="pleaseLogin"> 
<import: src="calendar">

<Title:>
  Swim Training

<Scripts:>
  <script src="/js/jquery.1.8.2.min.js"></script>
  <script src="/js/timeline.js"></script>

<Header:>
  <h2 style="display: none;">Swim Training Software</h2>
  <!-- This is a component defined in the /ui directory -->
  <ui:connectionAlert>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Swim Training</a>
        <div >
          <ul class="nav">
            {{#each pages}}
              <li class="{{#if equal(url, activeUrl)}}active{{/}}">
                <a href="{{url}}">{{title}}</a>
              </li>
            {{/}}
          </ul>
        </div>
        <div class="pull-right">
          <ul class="nav">
          {{#unless _facebookAuthenticated}}
            <li>
              <a href="/auth/facebook">
                <img src="/img/facebook-login-register.jpeg" 
                     alt="Login / Register With Facebook"/>
              </a>
            </li>
          {{else}}
            <li><a href="/user/{{_userId}}">{{_facebookAuthenticated.name}}</a></li>
            <li><a onclick="window.location='/logout'">Logout</a></li>  
          {{/}}
          </ul>
        </div>
      </div>
    </div>
  </div>
 