<import: src="home">
<import: src="start">
<import: src="login">
<import: src="register">
<import: src="swimAdd"> 

<Title:>
  Swim Training

<Head:>
  <meta name="viewport" content="width=devide-width, initial-scale=1.0">

<Header:>
  <h2 style="display: none;">Swim Training Software</h2>
  <!-- This is a component defined in the /ui directory -->
  <ui:connectionAlert>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Swim Training</a>
        <div >
          <ul class="nav">
            {{#each pages}}
              <li class="{{#if equal(url, activeUrl)}}active{{/}}">
                <a href="{{url}}">{{title}}</a>
              </li>
            {{/}}
          </ul>
        </div>
        <div class="pull-right">
          {#unless _facebookAuthenticated}
            <a href="/auth/facebook">
              <img src="/img/facebook-login-register.jpeg" alt="Login / Register With Facebook"/>
            </a>
          {else}
            <div class="btn-group">
              <button class="btn btn-small">{_user.auth.facebook.name}</button>
              <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span> 
              </button>
              <ul class="dropdown-menu">
                <li><a href="#settings-modal" data-toggle="modal">Settings</a></li>
                <!-- FIXME href='/logout' isn't redirecting the page.. window.history? onclick="window.location='/logout'"-->
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div> 
          {/}
        </div>
      </div>
    </div>
  </div>
 